{% extends "::base.html.twig" %}

{% block stylesheets %}
	<link href="{{ asset('bundles/namecouserestablishment/css/month.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
	<script>
		window.onload = function()
		{
			$('#calender_bg').height($('#month_calendar').height());
		}
	</script>
	<div id="calendar_pane">
		<table id="calender_bg" class="table">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td id="calender_bg_left">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</tbody>
		</table>
		<table id="month_calendar" class="table">
			<thead>
				<tr class="weekday_row">
					<th>月</th>
					<th>火</th>
					<th>水</th>
					<th>木</th>
					<th>金</th>
					<th>土</th>
					<th>日</th>
				</tr>
			</thead>
			<tbody>
				<tr class="date_row">
					<td>12月31日</td>
					<td>1月1日</td>
					<td>1月2日</td>
					<td>1月3日</td>
					<td>1月4日</td>
					<td>1月5日</td>
					<td>1月6日</td>
				</tr>
				<tr class="schedule_row">
					<td>&nbsp;</td>
					<td colspan="2" >
						<div class="schedule" >
							<a href="#">16:00～18:00<br />打ち合わせ</a>
						</div>
					</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>
						<div class="schedule" >
							<a href="#">16:00～18:00<br />打ち合わせ</a>
						</div>
					</td>
				</tr>
				<tr class="schedule_row">
					<td class="month_day month_day_b">&nbsp;</td>
					<td class="month_day  month_day_b" >
						<div class="schedule" >
							<a href="#">16:00～18:00<br />打ち合わせ</a>
						</div>
					</td>
					<td class="month_day  month_day_b">&nbsp;</td>
					<td class="month_day  month_day_b">&nbsp;</td>
					<td class="month_day  month_day_b">&nbsp;</td>
					<td class="month_day  month_day_b">&nbsp;</td>
					<td class="month_day  month_day_b">&nbsp;</td>
				</tr>
				<tr class="schedule_row">
					<td class="month_day month_day_b">&nbsp;</td>
					<td class="month_day  month_day_b" >
						<div class="schedule" >
							<a href="#">16:00～18:00<br />打ち合わせ</a>
						</div>
					</td>
					<td class="month_day  month_day_b">&nbsp;</td>
					<td class="month_day  month_day_b">&nbsp;</td>
					<td class="month_day  month_day_b">&nbsp;</td>
					<td class="month_day  month_day_b">&nbsp;</td>
					<td class="month_day  month_day_b">&nbsp;</td>
				</tr>
				<tr class="date_row">
					<td>12月31日</td>
					<td>1月1日</td>
					<td>1月2日</td>
					<td>1月3日</td>
					<td>1月4日</td>
					<td>1月5日</td>
					<td>1月6日</td>
				</tr>
				<tr class="schedule_row">
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</tbody>
		</table>
		
	</div>
{% endblock %}