{% extends 'NamecoSchedulerBundle::base.html.twig' %}

{% block body %}
	<div id="contents" class="clearfix">
		<p>施設が登録されていません<p>
		<a class="btn btn-primary " href="{{ path('schedule_month') }}">戻る</a>
	</div>
{% endblock body %}
