{% extends 'NamecoSchedulerBundle::base.html.twig' %}

{% block navigation %}
	{% include 'NamecoSchedulerBundle:Base:navigation.html.twig' with {'routeName': 'establishment_month_id', 'selectRouteName':'establishment_select_date', 'id': estab.id } %}
{% endblock %}

{% block submenu %}
	<div class="dropdown">
		<button class="btn btn-large dropdown-toggle" data-toggle="dropdown">施設選択</button>
		<ul class="dropdown-menu">
		{% for area in areas %}
			<li>{{ area.name }}</li>
			{% for es in area.establishment %}
				<li><a tabindex="-1" href="{{ path('establishment_month_id', {'id': es.id, 'year': year, 'month': month}) }}">{{ es.name }}</a></li>
			{% endfor %}
			</li>
		{% endfor %}
		</ul>
	</div>
{% endblock %}

{% block createurl %}
	<span id="schedule_new_prefix" style="display:none;">{{ path('schedule_new_establishment_prefix', {'userId': userId, 'establishmentId': estab.id }) }}</span>
{% endblock %}

