{% extends "::base.html.twig" %}

{% block body %}
<h2>施設エリア一覧</h2>

<ul>
{% for area in areas %}
	<li>{{ area.name }}</li>
{% endfor %}
</ul>
<a href="{{ path('establishment_area_new') }}">新規登録</a>
<a href="{{ path('home') }}">戻る</a>
{% endblock %}
