@charset "UTF-8";

#admin_contents
{
	margin-top: 20px;
	width: 1200px;
}

#left_pane
{
    width: 180px;
    padding-left: 10px;
    padding-right: 10px;
}

#main_pane
{
    width: 1000px;
}