@charset "UTF-8";

#user_field,
.help-inline ul
{
	list-style: none;
	list-style-type: none;
}

#form_email
{
	ime-mode: disabled;
}

#submit_wrapper
{
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}

#form_isActive
{
	width: auto;
}

.error_pane, 
.name_pane,
.input_pane
{
	width: 225px;
	float: left;
}

