{% extends "::base.html.twig" %}

{% block stylesheets %}
	<link href="{{ asset('bundles/namecouserestablishment/css/month.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}

	<div id="month_contents" class="clearfix">
		{% include 'NamecoUserEstablishmentBundle:Calendar:calendar_month.html.twig' %}
	</div>	

{% endblock body%}
