{% extends "::base.html.twig" %}

{% block body %}
	<form action="" method="post" {{ form_enctype(form) }}>
    	{{ form_widget(form) }}

    	<button class="btn btn-primary" type="submit" >登録</button>
	</form>
{% endblock %}