@CHARSET "UTF-8";

input.span-date
{
	width: 86px;
}

.btn-fixed
{
	width: 106px !important;
}
.register-table
{
	table-layout: fixed;
}

a.link-datepicker, a.link-datepicker:link, a.link-datepicker:visited, a.link-datepicker:hover, a.link-datepicker:active
{
	color: #000000;
	text-decoration: none;
}

#schedule_startDateTime_date, #schedule_endDateTime_date
{
	ime-mode: disabled;
}

.datepicker
{
	z-index: 9999;
}

.modal-body
{
	max-height: 760px;
}

.form-horizontal .control-label
{
	width: 60px;
}
.form-horizontal .controls
{
	margin-left: 80px;
}
.modal
{
	width: 600px;
}
.li_checklist_wrapper {
	height:75px;
	width: 200px;
	overflow:auto;
	overflow-x:hidden;
	border: 1px solid #999999;
}

.li_checklist_container > li {
	margin: 2px;
	border-bottom: 1px dotted #DDDDDD;
}
.li_checklist_container > li:last-child {
	border-bottom: none;
}
