<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Nameco{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% stylesheets  '../app/Resources/public/css/*'%}
        	<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
		{% endstylesheets %}

		{% javascripts "../app/Resources/public/js/*" %}
		      <script src="{{ asset_url }}" type="text/javascript"></script>
		{% endjavascripts %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
