{% extends "::base.html.twig" %}

{% block stylesheets %}
	<link href="{{ asset('bundles/namecouser/css/admin.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
	<div class="span3">{% include 'NamecoUserBundle:Admin:menu.html.twig' %}</div>
	<div class="span9">{% block admin_contents %}{% endblock %}</div>
{% endblock body %}
