<ul class="nav nav-pills nav-stacked">
	{% set cur = app.request.attributes.get('_route') %}
	{% for menu in menumanager.items %}
    <li {% if cur == menu.path or (cur == 'admin' and loop.first) %}class="active"{% endif %}><a href="{{ path(menu.path) }}">{{ menu.name }}</a></li>
	{% endfor %}
</ul>
