<ul class="nav nav-pills nav-stacked">
	{% set cur = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
	{% for menu in menumanager.items %}
    <li class="{% if cur == path(menu.path) %} active {% endif %}"><a href="{{ path(menu.path) }}">{{ menu.name }}</a></li>
	{% endfor %}
</ul>
