<ul class="nav nav-pills nav-stacked">
	{% set cur = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
	{% for menu in menumanager.items %}
    <li {% if cur|slice(0, path(menu.path)|length) == path(menu.path) %}class="active"{% endif %}><a href="{{ path(menu.path) }}">{{ menu.name }}</a></li>
	{% endfor %}
</ul>
